[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
numpy = "*"
youtube-transcript-api = "*"
speechrecognition = "*"
moviepy = "*"
pydub = "*"
youtube-dl = "*"
scrapetube = "*"
langchain = "*"

[dev-packages]

[requires]
python_version = "3.9"
